<div class='box tabular new_issue'>
<%= form_for(@acao) do |f| %>
  <% if @acao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acao.errors.count, "error") %> prohibited this acao from being saved:</h2>

      <ul>
      <% @acao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label 'ID' %>
    <%= f.number_field :id, :value => @acao.id, :readonly => true %>
  </p>
  <p>
    <%= f.label 'Efetiva' %>
    <%= f.check_box :efetivo, {:checked => false} %>
  </p>
  <p>
    <%= f.label 'Tipo' %>
    <%= f.select(:tipo, options_for_select([['Mitigação', 'Mitigação'],['Transferência','Transferência'],['Eliminação','Eliminação'],['Contigência','Contigência']])) %>
  </p>
  <p>
    <%= f.label "Título" %>
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label 'Descrição' %>
    <%= f.text_area :descricao, :class => 'wiki-edit', :rows => 10, :cols => 60 %>
  </p>
  <p>
    <%= f.label "Atribuído para" %>
    <%= f.collection_select :atribuido_para, @users, :name, :name, :prompt => 'Selecione um membro' %>
  </p>
  <p>
    <%= f.label "Prazo" %>
    <%= f.text_field :prazo %> <%= calendar_for('acao_prazo') %>
  </p>
  <p>
    <%= f.label "Data de conclusão" %>
    <%= f.text_field :data_de_conclusao %> <%= calendar_for('acao_data_de_conclusao') %>
  </p>
   <p>
    <%= f.label 'Risco' %>
    <%= f.number_field :risco_id, :value => @risco.id, :readonly => true %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar"%>
  </p>
 
<% end %>
</div>