<h2>Ações</h2>

<table class="list issues">
  <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Título</th>
        <th>Artibuído para</th>
        <th>Prazo</th>
        <th>Data de conclusão</th>
        <th>Risco</th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
  <% @acoes.each do |acao| %>
  <tr class="issue">
    <td><%= link_to '#' + acao.id.to_s, acao %></td>
    <td><%= acao.tipo %></td>
    <td><%= acao.titulo %></td>
    <td><%= acao.atribuido_para %></td>
    <td><%= acao.prazo %></td>
    <td><%= acao.data_de_conclusao %></td>
    <td><%= link_to '#'+ acao.risco_id.to_s, risco_path(:id => acao.risco_id, :project_id => @project.identifier) %></td>

    <td><%= link_to 'Editar', edit_acao_path(acao), :class => 'icon icon-edit' %></td>
    <td><%= link_to 'Excluir', acao_path(acao), method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => 'icon icon-del' %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<br />
