<p id="notice"><%= notice %></p>
<div class="contextual">
  <%= link_to_function 'Voltar', "history.back()", :class => 'icon icon-reload' %>
  <%= link_to 'Editar', edit_acao_path(@acao), :class => 'icon icon-edit' %>
  <%= link_to 'Excluir', acao_path(@acao), method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => 'icon icon-del' %>
  <%= link_to 'Histórico', historico_acao_path(:acao => @acao, :project_id => @project.identifier), :class => 'icon icon-add' %>
</div>
<h2> 
  Ação #<%= @acao.id %>
</h2>

<div class='issue tracker-1 status-1 priority-2 priority-default created-by-me details'>
<div class="subject">
<h3>Titulo: <%= @acao.titulo %></h3>
  
</div>
<p>
  
</p>
<p>
  <b>Tipo:</b>
  <%= @acao.tipo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @acao.descricao %>
</p>

<p>
  <b>Atribuído para:</b>
  <%= @acao.atribuido_para %>
</p>

<p>
  <b>Prazo:</b>
  <%= @acao.prazo %>
</p>

<p>
  <b>Data de conclusao:</b>
  <%= @acao.data_de_conclusao %>
</p>

<p>
  <b>Risco:</b>
  <%= link_to '#'+ @acao.risco_id.to_s, risco_path(@risco, :project_id => @project.identifier) %>
</p>
