<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @acao.id %>
</p>

<p>
  <b>Tipo:</b>
  <%= @acao.tipo %>
</p>

<p>
  <b>Titulo:</b>
  <%= @acao.titulo %>
</p>

<p>
  <b>Atribuido para:</b>
  <%= @acao.atribuido_para %>
</p>

<p>
  <b>Prazo:</b>
  <%= @acao.prazo %>
</p>

<p>
  <b>Data de conclusao:</b>
  <%= @acao.data_de_conclusao %>
</p>

<p>
  <b>Risco:</b>
  <%= link_to '#'+ @acao.risco_id.to_s, risco_path(@risco, :project_id => @project.identifier) %>
</p>


<%= link_to 'Edit', edit_acao_path(@acao) %> |
<%= link_to_function 'Back', "history.back()" %>
