<div class='box tabular new_issue'>
<%= form_for(@risco) do |f| %>
  <% if @risco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risco.errors.count, "error") %> prohibited this risco from being saved:</h2>

      <ul>
      <% @risco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, :value => @project.identifier %>
  <%= hidden_field_tag 'fonte', @risco.fonte %>
  <%= hidden_field_tag 'categoria', @risco.categoria %>

  <p>
    <%= f.label 'ID' %>
    <%= f.number_field :id, :value => @risco.id, :readonly => true %>
  </p>
  <div class="splitcontentright">
  <p>
    <%= f.label "Esforço" %>
    <%= f.text_field :esforco  %> - Horas
  </p>
  <p>
    <%= f.label "Custo" %>
    <%= f.text_field :custo, :value => (number_with_precision(@risco.custo, :precision => 2) || 0) %>
  </p>
  </div>
  <p>
    <%= f.label 'Título' %><span class="required">*</span>
    <%= f.text_field :titulo, :required => true %>
  </p>
  <p>
    <%= f.label "Status" %>
    <%= f.select(:status, options_for_select([['Aberto', 'Aberto'],['Fechado','Fechado'],['Em Andamento','Em Andamento'],['Suspenso','Suspenso'],['Cancelado','Cancelado'], ['Rejeitado','Rejeitado'], ['Resolvido','Resolvido']])) %>
  </p>
  <p>
    <%= f.label "Origem" %>
    <%= f.select(:origem, options_for_select( [ ['Projeto', 'Projeto'], ['Organizacional', 'Organizacional'] ] )) %>
  </p>
  <p>
    <%= f.label "Descrição"%><span class="required">* </span>
    <%= f.text_area :descricao, :required => true, :class => 'wiki-edit', :rows => 10, :cols => 60  %>
  </p>
  <div class="splitcontentleft">
  <p>
    <%= f.label "Fonte" %>
    <%= f.select(:fonte, options_for_select([['Selecione uma fonte',''],['Ambiente organizacional','Ambiente organizacional'],['Usuário','Usuário'],['Requisitos','Requisitos'],['Complexidade do projeto','Complexidade do projeto'],['Planejamento e controle','Planejamento e controle'],['Time','Time']])) %>
  </p>
  <p>
    <%= f.label "Categoria" %>
    <%= f.select(:categoria , options_for_select([['Selecione uma categoria','']])) %>
  </p> 
  <p>
    <%= f.label "Probabilidade" %>    
    <%= f.select(:probabilidade, options_for_select([['Muito Baixa','Muito Baixa'],['Baixa','Baixa'],['Média','Média'],['Alta','Alta'],['Muito Alta','Muito Alta']]))  %>
  </p>
  <p>
    <%= f.label 'Impacto'%>
    <%= f.select(:impacto, options_for_select([['Muito Baixo','Muito Baixo'],['Baixo','Baixo'],['Médio','Médio'],['Alto','Alto'],['Muito Alta','Muito Alto']]))  %>
  </p>
  <p>
    <%= f.label 'Prioridade' %>
    <%= f.text_field :prioridade, :readonly => true %>
  </p>
  </div>
  <div class="splitcontentright">
  <p>
    <%= f.label "Data de identificação" %>
    <%= f.text_field :data_identificacao %> <%= calendar_for('risco_data_identificacao') %>
  </p>
  <p>
    <%= f.label 'Adiconado por' %>
    <%= f.text_field :criado_por, :value => @adicionadoPor, :readonly => true %>
  </p>
  <p>
    <%= f.label 'Atribuído para' %>
    <%= f.collection_select :dono, @users, :name, :name, :prompt => 'Selecione um membro' %>
  </p>
  <p>
    <%= f.label 'Estratégia' %>
    <%= f.select(:estrategia, options_for_select([['Eliminar','Eliminar'],['Transferir','Transferir'],['Mitigar','Mitigar'],['Aceitar','Aceitar']])) %>
  </p>
  </div>
  <p>
    <%= f.label "Gatilho" %>
    <%= f.text_area :gatilho, :class => 'wiki-edit', :rows => 10, :cols => 60 %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar"%>
  </p>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var fonte = $('#fonte').val();
    var categoria = $('#categoria').val();
    console.log (fonte);
    $('#risco_fonte').val(fonte);
    carregarCategorias(fonte);
    $('#risco_categoria').val(categoria);
    $('#risco_fonte').change(function() {
      var fonteSelected = $('#risco_fonte').val();
      carregarCategorias(fonteSelected);
    });

    $('#risco_probabilidade').change(function() {
      prioridade = calcularPrioridade($('#risco_probabilidade').val(), $('#risco_impacto').val());
      $('#risco_prioridade').val(prioridade);
    });

    $('#risco_impacto').change(function() {
      prioridade = calcularPrioridade($('#risco_probabilidade').val(), $('#risco_impacto').val());
      $('#risco_prioridade').val(prioridade);
    });

    function carregarCategorias(fonteSelected){
      var fontes = associarCategoriasAFontes();
      if(fonteSelected == ""){
        $("#risco_categoria").empty();
        var html = "<option value=''> Selecione uma categoria</option>";
        $("#risco_categoria").append(html);
      }else{
        var categorias = fontes[fonteSelected];
        $("#risco_categoria").empty();
        for (var i = 0; i < categorias.length ; i++) {
          var html = '<option value="' +  categorias[i] +'">' + categorias[i] + '</option>';
          $("#risco_categoria").append(html);
        };
      }
    }

    function calcularPrioridade(probabilidade, impacto){
      var arrayProbabilidade = criarArrayProbabilidade();
      var arrayImpacto = criarArrayImpacto();
      var matrizPrioridade = criarMatrizPrioridade();

      return matrizPrioridade[arrayProbabilidade[probabilidade]][arrayImpacto[impacto]];
    }

    function associarCategoriasAFontes(){
      var fontes = new Array();

      fontes['Ambiente organizacional'] = ['Política organizacional','Apoio organizacional','Ambiente'];
      fontes['Usuario'] = ['Envolvimento do usuário','Usuário'];
      fontes['Requisitos'] = ['Requisitos funcionais', 'Requisitos não funcionais', 'Requisitos'];
      fontes['Complexidade do projeto'] = ['Tecnologia utilizada', 'Processos'];
      fontes['Planejamento e controle'] = ['Cronograma', 'Orçamento', 'Marcos', 'Estimativa de duração', 'Gestores'];
      fontes['Time'] = ['Insuficiência de equipe', 'Conhecimento', 'Cooperação', 'Motivação', 'Comunicação'];

      return fontes;
    }

    function criarArrayProbabilidade(){
      var probabilidade = new Array();
      probabilidade['Muito Baixa'] = 0;
      probabilidade['Baixa'] = 1;
      probabilidade['Média'] = 2;
      probabilidade['Alta'] = 3;
      probabilidade['Muito Alta'] = 4;
      return probabilidade;
    }

    function criarArrayImpacto(){
      var impacto = new Array();
      impacto['Muito Baixo'] = 0;
      impacto['Baixo'] = 1;
      impacto['Médio'] = 2;
      impacto['Alto'] = 3;
      impacto['Muito Alto'] = 4;
      return impacto;
    }
    function criarMatrizPrioridade(){
      var matrizPrioridade = createMatriz(5,5);
      matrizPrioridade[0][0] = 'Muito Baixa';
      matrizPrioridade[0][1] = 'Muito Baixa';
      matrizPrioridade[0][2] = 'Baixa';
      matrizPrioridade[0][3] = 'Média';
      matrizPrioridade[0][4] = 'Média';
      matrizPrioridade[1][0] = 'Muito Baixa';
      matrizPrioridade[1][1] = 'Baixa';
      matrizPrioridade[1][2] = 'Média';
      matrizPrioridade[1][3] = 'Média';
      matrizPrioridade[1][4] = 'Alta';
      matrizPrioridade[2][0] = 'Muito Baixa';
      matrizPrioridade[2][1] = 'Baixa';
      matrizPrioridade[2][2] = 'Média';
      matrizPrioridade[2][3] = 'Alta';
      matrizPrioridade[2][4] = 'Alta';
      matrizPrioridade[3][0] = 'Baixa';
      matrizPrioridade[3][1] = 'Média';
      matrizPrioridade[3][2] = 'Alta';
      matrizPrioridade[3][3] = 'Alta';
      matrizPrioridade[3][4] = 'Muito Alta';
      matrizPrioridade[4][0] = 'Baixa';
      matrizPrioridade[4][1] = 'Alta';
      matrizPrioridade[4][2] = 'Muito Alta';
      matrizPrioridade[4][3] = 'Muito Alta';
      matrizPrioridade[4][4] = 'Muito Alta';
      return matrizPrioridade;
    }
    function createMatriz(x,y){
      mt = new Array();
      for(i=0; i<x; i++){
        mt[i] = new Array();
        for(j=0; j<y; j++){
          mt[i][j] = -1;
        }
      }
    return mt;
    }

  });
</script>
</div>