<div class='box tabular new_issue'>
<%= form_for(@risco) do |f| %>
  <% if @risco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risco.errors.count, "error") %> prohibited this risco from being saved:</h2>

      <ul>
      <% @risco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, :value => @project.identifier %>
  <%= hidden_field_tag 'fonte', @risco.fonte %>
  <%= hidden_field_tag 'categoria', @risco.categoria %>

  <p>
    <%= f.label 'ID' %>
    <%= f.number_field :id, :value => @risco.id, :readonly => true %>
  </p>
  <p>
    <%= f.label 'Título' %><span class="required">*</span>
    <%= f.text_field :titulo, :required => true %>
  </p>
  <p>
    <%= f.label "Status" %>
    <%= f.select(:status, options_for_select([['Aberto', 'Aberto'],['Fechado','Fechado'],['Em Andamento','Em Andamento'],['Suspenso','Suspenso'],['Cancelado','Cancelado'], ['Rejeitado','Rejeitado'], ['Resolvido','Resolvido']])) %>
  </p>
  <p>
    <%= f.label "Descrição"%><span class="required">* </span>
    <%= f.text_area :descricao, :required => true, :class => 'wiki-edit', :rows => 10, :cols => 60  %>
  </p>
  <div class="splitcontentleft">
  <p>
    <%= f.label "Fonte" %>
    <%= f.select(:fonte, options_for_select([['Selecione uma fonte',''],['Ambiente organizacional','Ambiente organizacional'],['Usuário','Usuário'],['Requisitos','Requisitos'],['Complexidade do projeto','Complexidade do projeto'],['Planejamento e controle','Planejamento e controle'],['Time','Time']])) %>
  </p>
  <p>
    <%= f.label "Categoria" %>
    <%= f.select(:categoria , options_for_select([['Selecione uma categoria','']])) %>
  </p> 
  <p>
    <%= f.label "Probabilidade" %>    
    <%= f.select(:probabilidade, options_for_select([['Muito Baixa','Muito Baixa'],['Baixa','Baixa'],['Média','Média'],['Alta','Alta'],['Muito Alta','Muito Alta']]))  %>
  </p>
  <p>
    <%= f.label 'Impacto'%>
    <%= f.select(:impacto, options_for_select([['Muito Baixa','Muito Baixa'],['Baixa','Baixa'],['Média','Média'],['Alta','Alta'],['Muito Alta','Muito Alta']]))  %>
  </p>
  <p>
    <%= f.label 'Prioridade' %>
    <%= f.select(:prioridade, options_for_select([['Muito Baixa','Muito Baixa'],['Baixa','Baixa'],['Média','Media'],['Alta','Alta'],['Muito Alta','Muito Alta']])) %>
  </p>
  </div>
  <div class="splitcontentright">
  <p>
    <%= f.label "Data de identificação" %>
    <%= f.text_field :data_identificacao %> <%= calendar_for('risco_data_identificacao') %>
  </p>
  <p>
    <%= f.label 'Adiconado por' %>
    <%= f.text_field :criado_por, :value => @adicionadoPor, :readonly => true %>
  </p>
  <p>
    <%= f.label 'Atribuído para' %>
    <%= f.collection_select :dono, @users, :name, :name, :prompt => 'Selecione um membro' %>
  </p>
  <p>
    <%= f.label 'Estratégia' %>
    <%= f.select(:estrategia, options_for_select([['Eliminar','Eliminar'],['Transferir','Transferir'],['Mitigar','Mitigar'],['Aceitar','Aceitar']])) %>
  </p>
  </div>
  <p>
    <%= f.label "Gatilho" %>
    <%= f.text_area :gatilho, :class => 'wiki-edit', :rows => 10, :cols => 60 %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar"%>
  </p>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var fonte = $('#fonte').val();
    var categoria = $('#categoria').val();
    console.log (fonte);
    $('#risco_fonte').val(fonte);
    carregarCategorias(fonte);
    $('#risco_categoria').val(categoria);
    $('#risco_fonte').change(function() {
      var fonteSelected = $('#risco_fonte').val();
      carregarCategorias(fonteSelected);
    });

    function carregarCategorias(fonteSelected){
      var fontes = associarCategoriasAFontes();
      if(fonteSelected == ""){
        $("#risco_categoria").empty();
        var html = "<option value=''> Selecione uma categoria</option>";
        $("#risco_categoria").append(html);
      }else{
        var categorias = fontes[fonteSelected];
        $("#risco_categoria").empty();
        for (var i = 0; i < categorias.length ; i++) {
          var html = '<option value="' +  categorias[i] +'">' + categorias[i] + '</option>';
          $("#risco_categoria").append(html);
        };
      }
    }

    function associarCategoriasAFontes(){
      var fontes = new Array();

      fontes['Ambiente organizacional'] = ['Política organizacional','Apoio organizacional','Ambiente'];
      fontes['Usuario'] = ['Envolvimento do usuário','Usuário'];
      fontes['Requisitos'] = ['Requisitos funcionais', 'Requisitos não funcionais', 'Requisitos'];
      fontes['Complexidade do projeto'] = ['Tecnologia utilizada', 'Processos'];
      fontes['Planejamento e controle'] = ['Cronograma', 'Orçamento', 'Marcos', 'Estimativa de duração', 'Gestores'];
      fontes['Time'] = ['Insuficiência de equipe', 'Conhecimento', 'Cooperação', 'Motivação', 'Comunicação'];

      return fontes;
    }
  });
</script>
</div>