<div class="contextual">
    <%= link_to 'Novo Risco', new_risco_path(:project_id => @project.identifier), :class => 'icon icon-add'%>
</div>
<h1>Riscos</h1>
<div class="autoscroll" >
<table class="list issues">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Status</th>
    <th>Prioridade</th>
    <th>Data de identificação</th>
    <th></th>
    <th></th>
  </tr>

<% @riscos.each do |risco| %>
  <tr class="issue">
    <td><%= link_to '#'+ risco.id.to_s, risco_path(risco, :project_id => @project.identifier) %> </td>
    <td><%= risco.titulo %></td>
    <td><%= risco.status %></td>
    <td><%= risco.prioridade %></td>
    <td><%= risco.data_identificacao %></td>
    <td><%= link_to 'Editar', edit_risco_path(risco, :project_id => @project.identifier), :class => 'icon icon-edit' %></td>
    <td><%= link_to 'Excluir', risco_path(risco, :project_id => @project.identifier), method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => 'icon icon-del' %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<hr/>
<%= render :template => 'acaos/index' %>
