<p id="notice"><%= notice %></p>
<div class="contextual">
  <%= link_to_function 'Voltar', "history.back()", :class => 'icon icon-reload' %>
  <%= link_to 'Editar', edit_risco_path(@risco, :project_id => @project.identifier), :class => 'icon icon-edit' %>
  <td><%= link_to 'Excluir', risco_path(@risco, :project_id => @project.identifier), method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => 'icon icon-del' %></td>
</div>
<h2> 
  Risco #<%= @risco.id %>
</h2>

<div class='issue tracker-1 status-1 priority-2 priority-default created-by-me details'>
<div class="subject">
  <h3>
    Título
  </h3>
</div>

<br/>

<table class="attributes">
<tr>
  <th >Descrição: </th>
  <td ><%= @risco.descricao %></td>
</tr>

<tr> 
  <th>Status: </th>
  <td><%= @risco.status %></td>
  <th>Fonte: </th>
  <td><%= @risco.fonte %></td>
</tr>

<tr>
  <th>Categoria: </th>
  <td><%= @risco.categoria %></td>
  <th>Data de identificação: </th>
  <td><%=@risco.data_identificacao %></td>  
</tr>

<tr>
  <th>Adicionado por: </th>
  <td><%= @risco.criado_por %></td>
  <th>Atribuído para: </th>
  <td><%=@risco.dono %></td>
</tr>

<tr>
  <th>Probabilidade: </th>
  <td><%= @risco.probabilidade %></td>
  <th>Impacto: </th>
  <td><%=@risco.impacto %></td>
</tr>

<tr>
  <th>Prioridade: </th>
  <td><%= @risco.prioridade %></td>
  <th>Estratégia: </th>
  <td><%=@risco.estrategia %></td>
</tr>

<tr>
  <th >Gatilho: </th>
  <td ><%= @risco.gatilho %></td>
</tr>

</table>
<hr/>
<%= render :template => 'acaos/index' %>
<%= link_to 'Nova ação', new_acao_path(:risco_id => @risco.id), :class => 'icon icon-add' %>